<!DOCTYPE html> <!-- The new doctype -->
<html>
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>Restaurant Locator!</title>

        <link rel="stylesheet" type="text/css" href="static/styles.css" />

        <!-- Internet Explorer HTML5 enabling code: -->

        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

        <style type="text/css">
        .clear {
          zoom: 1;
          display: block;
        }
        </style>


        <![endif]-->

    </head>

    <body>

    	<section id="page"> <!-- Defining the #page section with the section tag -->

            <header> <!-- Defining the header section of the page with the appropriate tag -->

                <hgroup>
                    <h1><a href="http://fontmeme.com/cool-fonts/"><img src="http://fontmeme.com/permalink/161215/14fb08ba4de208f2fd6135299e4b1359.png" alt="cool-fonts" border="0"></a></h1>
                    <h3><a href="http://fontmeme.com/cool-fonts/"><img src="http://fontmeme.com/permalink/161215/c0ef15705f656fde8a7597acea97c4dc.png" alt="cool-fonts" border="0"></a></h3>
                </hgroup>


            </header>

            <section id="articles"> <!-- A new section with the articles -->

				<!-- Article 1 start -->

                <div class="line"></div>  <!-- Dividing line -->


                <article id="article1"> <!-- The new article tag. The id is supplied so it can be scrolled into view. -->
                  <h2>Search Your Area!</h2>
                  <form class="form-wrapper" action="/results" method="POST">
      <input name ="search_query" type="text" id="search" placeholder="Search for..." required>
      <input type="submit" id="submit">
  </form>

                    <div class="line"></div>

                    <div class="articleBody clear">

                    	<figure>
                        <!-- The figure tag marks data (usually an image) that is part of the article -->

  <iframe id="video" width="500" height="400" src="https://www.youtube.com/embed/Rn5IFGJZHTw" frameborder="0" allowfullscreen></iframe>
                  </figure>

                        <p>In this tutorial, we are creating a photo shoot effect with our just-released PhotoShoot jQuery plug-in. With it you can convert a regular div on the page into a photo shooting stage simulating a camera-like feel.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus quam quis nibh fringilla sit amet consectetur lectus malesuada. Sed nec libero erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mi nisi, rhoncus ut vestibulum ac, sollicitudin quis lorem. Duis felis dui, vulputate nec adipiscing nec, interdum vel tortor. Sed gravida, erat nec rutrum tincidunt, metus mauris imperdiet nunc, et elementum tortor nunc at eros. Donec malesuada congue molestie. Suspendisse potenti. Vestibulum cursus congue sem et feugiat. Morbi quis elit odio. </p>
                    </div>
                </article>

				<!-- Article 1 end -->

        






				<!-- Article 3 end -->


            </section>

        <footer> <!-- Marking the footer section -->

           <div class="line"></div>

           <p>Copyright 2010 - YourSite.com</p> <!-- Change the copyright notice -->

           <a href="#" class="up">Go UP</a>


        </footer>

		</section> <!-- Closing the #page section -->

        <!-- JavaScript Includes -->

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
        <script src="jquery.scrollTo-1.4.2/jquery.scrollTo-min.js"></script>
        <script src="static/script.js"></script>
    </body>
</html>
