<html><head><title>test</title></head></html>
<!--
<div>
{% for business in businesses %}
  <div>
    <td> Name: {{ business['business-name']}} </td>
    <td> Address: {{business['streetAddress']}}</td>
    <td> City: {{business['addressLocality']}}</td>
    <td> State: {{business['addressRegion']}}</td>
    <td> Zip Code: {{business['postalCode']}}</td>
    <td> Phone: {{ business['telephone'] }}</td>

  </div>
{% endfor %}
</div>


<div>success</div> -->





<table class="table table-striped table-hover" >
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip Code</th>
      <th>Phone</th>
    </tr>
  </thead>
  {% for business in businesses %}

    <tr class="success">

      <td> {{ business['business-name']}} </td>
      <td> {{business['streetAddress']}}</td>
      <td> {{business['addressLocality']}}</td>
      <td> {{business['addressRegion']}}</td>
      <td> {{business['postalCode']}}</td>
      <td> {{ business['telephone'] }}</td>

    </tr>
  {% endfor %}
  <tbody>


</table>
