<html><head><title>test</title>
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: rgb(44, 169, 223);
    color: white;
}
</style>


<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip Code</th>
      <th>Phone</th>
    </tr>
  </thead>
  {% for business in businesses %}

    <tr class="danger">

      <td> {{ business['business-name']}} </td>
      <td> {{business['streetAddress']}}</td>
      <td> {{business['addressLocality']}}</td>
      <td> {{business['addressRegion']}}</td>
      <td> {{business['postalCode']}}</td>
      <td> {{ business['telephone'] }}</td>

    </tr>
  {% endfor %}
  <tbody>


</table>
</head></html>
